{% extends 'academico/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container my-3">
        <h1 class="bg-secondary text-white shadow rounded py-2 px-2">Edição de Aluno</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button class="btn btn-secondary text-white" type="submit">Salvar Alterações</button>
        <button><a  class="btn btn-secondary link-white link-underline-opacity-0" href="{% url 'alunos' %}"> Cancelar</a></button>
    </form>


{% endblock %}