{% extends 'academico/base.html' %}

{% block content %}

<div class="container my-3">
    <h1 class="bg-secondary text-white shadow rounded py-2 px-2">Index de Acadêmico</h1>
</div>

    <ul>
        <p>Escolha uma opção:</p>
        <li><a href=" {% url 'cadastrar_aluno' %}">Cadastro de Aluno</a></li>
        <li><a href=" {% url 'cadastrar_curso' %}">Cadastro de Curso</a></li>
        <li><a href=" {% url 'alunos' %}">Lista de Alunos</a></li>
        <li><a href=" {% url 'cursos' %}">Lista de Cursos</a></li>
        <li><a href=" {% url 'contato' %}">Contato</a></li>
    </ul>


    {% endblock %}