{% extends 'academico/base.html' %}

{% block content %}

<div class="container my-3">
    {% if ativos %}
    <h1 class="bg-secondary text-white shadow rounded py-2 px-2">Lista de Alunos</h1>
    {% else %}
    <h1 class="bg-secondary text-white shadow rounded py-2 px-2">Lista de Alunos Inativos</h1>
    {% endif %}
</div>

{% include 'academico/partials/_busca.html' %}

<div class="container my-3">
    <table class="table table-danger table-hover shadow">
        <tr class="table-light border">
            {% if ativos %}
            <th><a class="text-dark" href="{% url 'ordenar_alunos' 'nome' %}?busca={{ query }}">Nome</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos' 'curso' %}?busca={{ query }}">Curso</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos' 'genero' %}?busca={{ query }}">Gênero</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos' 'escolaridade' %}?busca={{ query }}">Escolaridade</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos' 'estado_civil' %}?busca={{ query }}">Estado Civil</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos' 'data_nascimento' %}?busca={{ query }}">Nascimento</a></th>
            <th>Ações</th>
            {% else %}
            <th><a class="text-dark" href="{% url 'ordenar_alunos_inativos' 'nome' %}?busca={{ query }}">Nome</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos_inativos' 'curso' %}?busca={{ query }}">Curso</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos_inativos' 'genero' %}?busca={{ query }}">Gênero</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos_inativos' 'escolaridade' %}?busca={{ query }}">Escolaridade</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos_inativos' 'estado_civil' %}?busca={{ query }}">Estado Civil</a></th>
            <th><a class="text-dark" href="{% url 'ordenar_alunos_inativos' 'data_nascimento' %}?busca={{ query }}">Nascimento</a></th>
            <th>Ativar</th>
            {% endif %}
        </tr>

        {% for aluno in alunos %}
        <tr>
            <td><a href="{% url 'detalhes_aluno' aluno.id %}">{{ aluno.nome }}</a></td>
            <td>{{ aluno.curso }}</td>
            <td>{{ aluno.get_genero_display }}</td>
            <td>{{ aluno.get_escolaridade_display }}</td>
            <td>{{ aluno.get_estado_civil_display }}</td>
            <td>{{ aluno.data_nascimento|date:"d/m/Y" }}</td>
            <td>
                {% if ativos %}
                <a href="{% url 'editar_aluno' aluno.id %}">Editar</a>
                <a href="{% url 'excluir_aluno' aluno.id %}">Excluir</a>
                {% else %}
                <a href="{% url 'ativar_aluno' aluno.id %}">Ativar</a>
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}